package ${package.Mapper};

import java.util.List;
import ${package.Entity}.${entity};
#if(${mapperAnnotation})
import org.apache.ibatis.annotations.Mapper;
#end

/**
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotation})
@Mapper
#end
public interface ${table.mapperName} {
    /**
     * 查询${table.entityName}
     */
    ${table.entityName} select${table.entityName}ById(${pkType} ${pkName});

    /**
     * 查询${table.entityName}
     */
    List<${table.entityName}> select${table.entityName}ByIds(${pkType}[] ${pkName}s);

    /**
     * 查询${table.entityName}列表
     */
    List<${table.entityName}> select${table.entityName}List(${table.entityName} ${EntityName});

    /**
     * 新增${table.entityName}
     */
    int insert${table.entityName}(${table.entityName} ${EntityName});

    /**
     * 修改${table.entityName}
     */
    int update${table.entityName}(${table.entityName} ${EntityName});

    /**
     * 条件删除${table.entityName}
     */
    int delete${table.entityName}(${table.entityName} ${EntityName});

    /**
     * 删除${table.entityName}
     */
    int delete${table.entityName}ById(${pkType} ${pkName});

    /**
     * 批量删除${table.entityName}
     */
    int delete${table.entityName}ByIds(${pkType}[] ${pkName}s);
}
